.carousel-item img {
    object-fit: cover;
    height: 400px; /* Ajusta la altura del slider aquí */
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #1E3A5F; /* Color de fondo para los controles del slider */
}

.separacion{
    padding-bottom: 20px;
}
    